{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'includes/meta.html' %}
</head>
<body>
{% include 'includes/header.html' %}
<div class="clearfix"></div>
<section id="secondary-banner" class="dynamic-image-3">
    <!--for other images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>About Us</h2>
                <h4>Attract, engage and convert more qualified vehicle shoppers</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--secondary-banner ends-->
<div class="message-shadow"></div>
<div class="clearfix"></div>
<section class="content">
    <div class="container">
        <div class="inner-page about-us row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="margin-bottom-25">OUR MISSION IS SIMPLE</h3>
                <p> 
                   <b>Our Company Mission: </b>   <br/>
                    To serve our best services to our valuable customers throughout the world. Customer’s satisfaction is our first priority always. Our mission to provide the best vehicles at reasonable prices with customer’s satisfaction. 
                    <br/>
                    <br/>
                    <b> Our Company Vision: </b>  <br/>
                    Our company main vision to assist our valuable customers by selling the best vehicles at reasonable price with customer’s satisfaction globally. 
                    <br/>
                    <br/>
                     <b>  What Is PK INTERNATIONAL Co; Ltd.: </b><br/>
                    PK INTERNATIONAL Co; Ltd. Is the best, authentic and well known used vehicles company internationally specially performing our best services to our customers in all over the japan.  <br/><br/>
                    Our company head office is placed in Osaka Japan.  <br/><br/>
                    We are always excited to help you! We also provide used vehicles auctions services to our valuable customers to find and buy their dreamed and desired vehicles with the assistance of our experienced staff. So you never need to be worried about the quality and performance of the vehicles, we hope you always be satisfied with our services for you. We are always waiting for your contact to us for serving our best service to you internationally. 
                    
                    
                
                </p>
    
    
            </div>
           
            <div class="clearfix"></div>
        </div>
        <!-- <div class="margin-top-30 about-us row xs-margin-top-none padding-bottom-40">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 xs-padding-bottom-40 sm-padding-bottom-40 scroll_effect fadeInUp">
                <h3 class="margin-bottom-25">WHY CHOOSE US?</h3>
                <div class="choose-list">
                    <ul>
                        <li>Fully responsive and ready for all mobile devices</li>
                        <li>Integrated inventory management system</li>
                        <li>Simple to use and extremely easy to customize</li>
                        <li>Search engine optimized out of the box (SEO ready)</li>
                        <li>Includes a license for Revolution Slider ($15 value)</li>
                        <li>Tons of shortcodes for easy and functional add-ons</li>
                        <li>Fully featured Option Panel for quick &amp; easy setup</li>
                        <li>Completely backed by our dedicated support staff</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 xs-padding-bottom-40 sm-padding-bottom-40 testimonials scroll_effect fadeInUp"
                 data-wow-delay=".2s">
                <h3 class="margin-bottom-25">TESTIMONIALS</h3>
                <div class="testimonial">
                    <ul class="testimonial_slider">
                        <li>
                            <blockquote class="style1"><span>Happiness does not come from
                                    doing easy work but from the
                                    afterglow of satisfaction that
                                    comes after the achievement of
                                    a difficult task that demanded
                                    our best.</span> <strong>Theodore Isaac Rubin</strong></blockquote>
                        </li>
                        <li>
                            <blockquote class="style1"><span>Happiness does not come from
                                    doing easy work but from the
                                    afterglow of satisfaction that
                                    comes after the achievement of
                                    a difficult task that demanded
                                    our best.</span> <strong>Theodore Isaac Rubin</strong></blockquote>
                        </li>
                        <li>
                            <blockquote class="style1"><span>Happiness does not come from
                                    doing easy work but from the
                                    afterglow of satisfaction that
                                    comes after the achievement of
                                    a difficult task that demanded
                                    our best.</span> <strong>Theodore Isaac Rubin</strong></blockquote>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 latest-news xs-padding-bottom-40 sm-margin-bottom-none scroll_effect fadeInUp"
                 data-wow-delay=".4s">
                <h3 class="margin-bottom-25">LATEST AUTOMOTIVE NEWS</h3>
                <div class="arrow1 pull-right blog_post_controls"></div>
                <ul class="recent_blog_posts">
                    <li>
                        <div class="blog-list">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-info padding-bottom-15 padding-horizontal-5">
                                <div class="thumb-image"><img src="images/thumb-img-1.jpg" alt=""></div>
                                <h4>Title of your most recent Blog post</h4>
                                <span>June 18, 2019 /</span> <span class="text-red">7 Comments</span>
                                <p>Qui cu everti repudiare. Eam ut cibo nobis aperiam, elit et qualisque
                                    at cum. Possit antiopam id est. Illud a delicata ea mel, sed alt <a
                                            href="#">[...]</a></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <div class="blog-list">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-info padding-bottom-15 padding-horizontal-5">
                                <div class="thumb-image"><img src="images/thumb-img-1.jpg" alt=""></div>
                                <h4>Title of your most recent Blog post</h4>
                                <span>June 18, 2019 /</span> <span class="text-red">7 Comments</span>
                                <p>Qui cu everti repudiare. Eam ut cibo nobis aperiam, elit et qualisque
                                    at cum. Possit antiopam id est. Illud a delicata ea mel, sed alt <a
                                            href="#">[...]</a></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <div class="blog-list">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-info padding-bottom-15 padding-horizontal-5">
                                <div class="thumb-image"><img src="images/thumb-img-1.jpg" alt=""></div>
                                <h4>Title of your second most recent Blog post</h4>
                                <span>June 17, 2019 /</span> <span class="text-red">12 Comments</span>
                                <p>Eum tibique consectetuer in, an legimus referrentur vis, vocentaylo
                                    deseruisse ex mel. Sed te idque graecis. Vel ne libris dolores<a href="#">[...]</a>
                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <div class="row about-us">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 featured-brand-slider scroll_effect fadeInUp margin-bottom-40 margin-top-30 xs-margin-top-none sm-margin-top-15">
                <div class="featured-brand">
                    <h3 class="margin-bottom-25">SOME OF OUR FEATURED BRANDS</h3>
                    <div class="arrow2 pull-right clearfix" id="slideControls"><span class="next-btn"></span><span
                            class="prev-btn"></span></div>
                    <div class="carasouel-slider featured_slider">
                        <div class="slide jquery"><a href="#">jquery</a></div>
                        <div class="slide html5"><a href="#">html5</a></div>
                        <div class="slide my-sql"><a href="#">my-sql</a></div>
                        <div class="slide javascript"><a href="#">javascript</a></div>
                        <div class="slide wordpress"><a href="#">wordpress</a></div>
                        <div class="slide php"><a href="#">php</a></div>
                        <div class="slide jquery"><a href="#">jquery</a></div>
                        <div class="slide html5"><a href="#">html5</a></div>
                        <div class="slide my-sql"><a href="#">my-sql</a></div>
                        <div class="slide javascript"><a href="#">javascript</a></div>
                        <div class="slide wordpress"><a href="#">wordpress</a></div>
                        <div class="slide php"><a href="#">php</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div> -->
    <!--container ends-->
</section>
<!--content ends-->
<div class="clearfix"></div>

<!-- Footer Map -->
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6881909.738524171!2d137.368602!3d32.624634!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000d7fc813f004f%3A0x29bdde60409ccce0!2z5qCq5byP5Lya56S-IFBLIElOVEVSTkFUSU9OQUw!5e0!3m2!1sen!2sus!4v1684314405631!5m2!1sen!2sus" width="100%" height="450px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


<!--Footer Start-->

{% include 'includes/footer.html' %}
</body>
</html>