{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'includes/meta.html' %}
</head>
<body>
{% include 'includes/header.html' %}
<section id="secondary-banner" class="dynamic-image-5"><!--for other images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>Contact Us</h2>
                <h4>We are conveniently located 5 Nishikiorihigashi, Tondabayashi, Osaka 584-0069, Japan</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--secondary-banner ends-->
<div class="message-shadow"></div>
<div class="clearfix"></div>
<section class="content">
    <div class="container">
        <div class="inner-page">
                <!--MAP-->
                <div class="find_map row clearfix">
                  <div class="col-lg-12">
                    <h2 class="margin-bottom-25 margin-top-none">FIND US ON THE MAP</h2>
                    <div class='fullwidth_element_parent margin-top-30 padding-bottom-40'>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6881909.738524171!2d137.368602!3d32.624634!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000d7fc813f004f%3A0x29bdde60409ccce0!2z5qCq5byP5Lya56S-IFBLIElOVEVSTkFUSU9OQUw!5e0!3m2!1sen!2sus!4v1684314405631!5m2!1sen!2sus" width="100%" height="450px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                  </div>
                </div>
                <!--MAP-->
                <!--CONTACT INFORMATION-->
                <div class="row contacts margin-top-25">
                    <!--LEFT INFORMATION-->
                    <div class="col-md-6 left-information">
                        <div class="contact_information information_head clearfix">
                            <h3 class="margin-bottom-25 margin-top-none">CONTACT INFORMATION</h3>
                            <div class="address clearfix margin-right-25 padding-bottom-40">
                                <div class="icon_address">
                                    <p><i class="fa fa-map-marker"></i><strong>Address:</strong></p>
                                </div>
                                <div class="contact_address">
                                    <p class="margin-bottom-none">Ltd. PK INTERNATIONAL<br>
                                        〒584-0069 Osaka, Tondabayashi, Nishikiorihigashi, 2-chōme−10−5 Grand Corp Nishiki Room 303
                                </div>
                            </div>
                            <div class="address clearfix address_details margin-right-25 padding-bottom-40">
                                <ul class="margin-bottom-none">
                                    <li><i class="fa fa-phone"></i><strong>Contact us:</strong> <span>+81-90-1900-5325</span></li>
                                    <li><i class="fa fa-envelope-o"></i><strong>Email:</strong> <a href="mailto:pk.international.jp@gmail.com">pk.international.jp@gmail.com</a></li>
                                    <li><i class="fa fa-qrcode" aria-hidden="true"></i><strong>QR:</strong> </li>
                                    <div style="display:flex; flex-wrap: wrap; justify-content: space-evenly;">
                                          <li><img width="250px" height="220px" src="{% static 'images/wt.jpg' %}" alt=""> <br>  <span class="qrnames alternate-font">WhatsApp</span></li>
                                        <li>  <img width="250px" height="220px"  src="{% static 'images/line.jpg' %}" alt="">  <br>  <span class="qrnames alternate-font">Line</span></li>
                                    <li>  <img width="250px"     height="220px"    src="{% static 'images/insta.jpg' %}" alt="">  <br>  <span class="qrnames alternate-font">Instagram</span></li>
                                    </div>
                                </ul>
                            </div>
                        </div> 
                
                        <!--INFORMATION HOUR-->
                    </div>
                    <!--LEFT INFORMATION-->

                    <!--RIGHT INFORMATION-->
                    <div class="col-md-5 offset-lg-1 offset-md-1 xs-margin-top-30">
                        <div class="contact_wrapper information_head">
                            <h3 class="margin-bottom-25 margin-top-none">CONTACT FORM</h3>
                            <div class="form_contact margin-bottom-20">
                                <div id="result"></div>
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <fieldset id="contact_form">
                                        <input type="text" name="full_name" class="form-control margin-bottom-25" placeholder="Name  (Required)" />
                                        <input type="email" name="email_address" class="form-control margin-bottom-25" placeholder="Email  (Required)" />
                                        <textarea name="msg" class="form-control margin-bottom-25 contact_textarea" placeholder="Your message" rows="7"></textarea>
                                        <input id="submit_btn" type="submit" value="Send Message">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                                <!--INFORMATION HOUR-->
                                <div class="information_hour information_head margin-top-30 xs-padding-bottom-40">
                                    <h3 class="margin-bottom-25 margin-top-none">BUSINESS HOURS</h3>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="deparment">
                                                <table style="text-align: left;" class="table table-bordered no-border font-13px margin-bottom-none">
                                                    <thead>
                                                    <tr>
                                                        <td colspan="2"><strong> business hours</strong></td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                    
                                                        <td>                                                                  Monday 9:00  18:00 </td>
                                                    </tr>
                                                    <tr>
                                                   
                                                        <td>Tuesday　9:00   18:00  </td>
                                                    </tr>
                                                    <tr>
                                                 
                                                        <td>Wed 9:00  18:00  </td>
                                                    </tr>
                                                    <tr>
                                                    
                                                        <td>Thursday 9:00  18:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Friday 9:00  12:00
                                                    
                                                    </tr>
                                                    <tr>
                                                   
                                                        <td>Saturday 9:00  18:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sunday Holiday</td>
                                                       
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                       
                                       
                                    </div>
                                </div>
                    </div>
                    <!--RIGHT INFORMATION-->

                    

                </div>
                <!---CONTACT INFORMATION-->

            <div class="clearfix"></div>
        </div>
    </div>
    <!--container ends-->
</section>
<!--content ends-->
<div class="clearfix"></div>
<div class="back_to_top"> <img src="images/arrow-up.png" alt="scroll up" /> </div>

<!--Footer Start-->

{% include 'includes/footer.html' %}


</body>
</html>