{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'includes/meta.html' %}
</head>
<body>
{% include 'includes/header.html' %}
<div class="clearfix"></div>
<section id="secondary-banner" class="dynamic-image-6"><!--for other images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>FAQ</h2>
                <h4>Frequently Asked Questions</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--secondary-banner ends-->
<div class="message-shadow"></div>
<div class="clearfix"></div>
<section class="content faq">
    <div class="container">
        <div class="inner-page">
            <div class="row">
                <!--FAQ LEFT-->
                <div class="col-md-9 xs-padding-bottom-40">
                    <div class="list_faq clearfix">
                        <h5>Sort FAQ By:</h5>
                        <ul>
                            <li><a href="#All" data-action="sort">All</a></li>
                            <li><a href="#Electrical" data-action="sort">Electrical</a></li>
                            <li><a href="#Engine" data-action="sort">Engine</a></li>
                            <li><a href="#Mechanical" data-action="sort">Mechanical</a></li>
                            <li><a href="#Navigation" data-action="sort">Navigation</a></li>
                            <li><a href="#Sunroof" data-action="sort">Sunroof</a></li>
                            <li><a href="#Stereo" data-action="sort">Stereo</a></li>
                            <li><a href="#Wiring" data-action="sort">Wiring</a></li>
                        </ul>
                    </div>
                    <div class="accodian_panel margin-top-30">
                        <div class="panel-group description-accordion faq-sort margin-bottom-none" id="accordion">

                            <!--description-->
                            <div class="panel panel-default padding-top-20 padding-bottom-15" data-categories="Electrical,Navigational,Wiring">
                                <div class="panel-heading padding-vertical-10 padding-horizontal-15">
                                    <h4 class="panel-title padding-left-30"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">Nam sollicitudin neque eu nibh pharetra mollis mauris in nisi rhoncus? </a> </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <!--Panel_body-->
                                        <div class="faq_post padding-left-40">
                                            <div class="post-entry clearfix margin-top-10"> <img src="images/faq-img1.jpg" alt="" class="alignleft">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh libero,
                                                    consequat sit amet nisl vitae, suscipit gravida mi. Nam auctor viverra
                                                    sodales. Quisque posuere tincidunt convallis. Ut viverra neque non diam
                                                    tempor, id tincidunt mauris cursus. Donec suscipit mattis viverra. Cras sit
                                                    amet odio sit amet dui aliquam tempus a ultrices felis. Proin sed imperdiet
                                                    ipsum, ultrices posuere leo.

                                                <p> Duis facilisis dapibus enim, ac venenatis nibh mattis in. Cras eu
                                                    condimentum lacus, ac ultricies leo. Nunc sodales ipsum a suscipit.</p>
                                                <p> Mauris tincidunt rutrum auctor. <a href="#">Vivamus a nunc ac augue scelerisque dapibus</a> ut sed augue. Pellentesque fermentum orci in
                                                    velit pharetra, non lobortis sapien suscipit. Aenean sem nulla, dignissim et bibendum et, consequat in nibh.</p>
                                                <p> Nam sollicitudin neque eu nibh pharetra mollis. Mauris in nisi elit. Maecenas at metus rhoncus, facilisis tellus at, pretium orci.
                                                    Vivamus consectetur sem eget neque dignissim, sit amet sodales urna mattis. Vivamus ut semper dolor. Suspendisse tempus,
                                                    dolor vel eleifend vestibulum, nulla eros elementum ligula, ac bibendum mi ipsum quis felis. Donec adipiscing iaculis sapien
                                                    nec porta. Aliquam tellus leo, posuere ut magna porta, auctor adipiscing massa. Maecenas sem mi, vestibulum id lectus non,
                                                    placerat rhoncus dui. </p>
                                            </div>
                                        </div>
                                        <!--Panel_body-->
                                    </div>
                                </div>
                            </div>
                            <!--description-->

                            <!--description-->
                            <div class="panel panel-default padding-top-20 padding-bottom-15" data-categories="Engine,Sunroof,Wiring">
                                <div class="panel-heading padding-vertical-10 padding-horizontal-15">
                                    <h4 class="panel-title padding-left-30"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">Onvallis odio nulla vulputate orci ut libero suscipit condimentum nunc nibh? </a> </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <!--Panel_body-->
                                        <div class="faq_post padding-left-40">
                                            <div class="post-entry clearfix margin-top-10"> <img src="images/faq-img1.jpg" alt="" class="alignleft">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh libero,
                                                    consequat sit amet nisl vitae, suscipit gravida mi. Nam auctor viverra
                                                    sodales. Quisque posuere tincidunt convallis. Ut viverra neque non diam
                                                    tempor, id tincidunt mauris cursus. Donec suscipit mattis viverra. Cras sit
                                                    amet odio sit amet dui aliquam tempus a ultrices felis. Proin sed imperdiet
                                                    ipsum, ultrices posuere leo.

                                                <p> Duis facilisis dapibus enim, ac venenatis nibh mattis in. Cras eu
                                                    condimentum lacus, ac ultricies leo. Nunc sodales ipsum a suscipit.</p>
                                                <p> Mauris tincidunt rutrum auctor. <a href="#">Vivamus a nunc ac augue scelerisque dapibus</a> ut sed augue. Pellentesque fermentum orci in
                                                    velit pharetra, non lobortis sapien suscipit. Aenean sem nulla, dignissim et bibendum et, consequat in nibh.</p>
                                                <p> Nam sollicitudin neque eu nibh pharetra mollis. Mauris in nisi elit. Maecenas at metus rhoncus, facilisis tellus at, pretium orci.
                                                    Vivamus consectetur sem eget neque dignissim, sit amet sodales urna mattis. Vivamus ut semper dolor. Suspendisse tempus,
                                                    dolor vel eleifend vestibulum, nulla eros elementum ligula, ac bibendum mi ipsum quis felis. Donec adipiscing iaculis sapien
                                                    nec porta. Aliquam tellus leo, posuere ut magna porta, auctor adipiscing massa. Maecenas sem mi, vestibulum id lectus non,
                                                    placerat rhoncus dui. </p>
                                            </div>
                                        </div>
                                        <!--Panel_body-->
                                    </div>
                                </div>
                            </div>
                            <!--description-->

                            <!-- description-->
                            <div class="panel panel-default padding-top-20 padding-bottom-15" data-categories="Electrical,Mechanical,Wiring">
                                <div class="panel-heading padding-vertical-10 padding-horizontal-15">
                                    <h4 class="panel-title padding-left-30"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">Porta auctor adipiscing massa maecenas sem mi, vestibulum id lectus non?</a> </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        <!--Panel_body-->
                                        <div class="faq_post padding-left-40">
                                            <div class="post-entry clearfix margin-top-10"> <img src="images/faq-img1.jpg" alt="" class="alignleft">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh libero,
                                                    consequat sit amet nisl vitae, suscipit gravida mi. Nam auctor viverra
                                                    sodales. Quisque posuere tincidunt convallis. Ut viverra neque non diam
                                                    tempor, id tincidunt mauris cursus. Donec suscipit mattis viverra. Cras sit
                                                    amet odio sit amet dui aliquam tempus a ultrices felis. Proin sed imperdiet
                                                    ipsum, ultrices posuere leo.

                                                <p> Duis facilisis dapibus enim, ac venenatis nibh mattis in. Cras eu
                                                    condimentum lacus, ac ultricies leo. Nunc sodales ipsum a suscipit.</p>
                                                <p> Mauris tincidunt rutrum auctor. <a href="#">Vivamus a nunc ac augue scelerisque dapibus</a> ut sed augue. Pellentesque fermentum orci in
                                                    velit pharetra, non lobortis sapien suscipit. Aenean sem nulla, dignissim et bibendum et, consequat in nibh.</p>
                                                <p> Nam sollicitudin neque eu nibh pharetra mollis. Mauris in nisi elit. Maecenas at metus rhoncus, facilisis tellus at, pretium orci.
                                                    Vivamus consectetur sem eget neque dignissim, sit amet sodales urna mattis. Vivamus ut semper dolor. Suspendisse tempus,
                                                    dolor vel eleifend vestibulum, nulla eros elementum ligula, ac bibendum mi ipsum quis felis. Donec adipiscing iaculis sapien
                                                    nec porta. Aliquam tellus leo, posuere ut magna porta, auctor adipiscing massa. Maecenas sem mi, vestibulum id lectus non,
                                                    placerat rhoncus dui. </p>
                                            </div>
                                        </div>
                                        <!--Panel_body-->
                                    </div>
                                </div>
                            </div>
                            <!--description-->

                            <!--description-->
                            <div class="panel panel-default padding-top-20 padding-bottom-15" data-categories="Mechanical,Sunroof,Navigational">
                                <div class="panel-heading padding-vertical-10 padding-horizontal-15">
                                    <h4 class="panel-title padding-left-30"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour" class="collapsed"> Mauris in nisi elit maecenas at metus rhoncus, facilisis tellus at, quis felis pretium orci? </a> </h4>
                                </div>
                                <div id="collapsefour" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <!--Panel_body-->
                                        <div class="faq_post padding-left-40">
                                            <div class="post-entry clearfix margin-top-10"> <img src="images/faq-img1.jpg" alt="" class="alignleft">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh libero,
                                                    consequat sit amet nisl vitae, suscipit gravida mi. Nam auctor viverra
                                                    sodales. Quisque posuere tincidunt convallis. Ut viverra neque non diam
                                                    tempor, id tincidunt mauris cursus. Donec suscipit mattis viverra. Cras sit
                                                    amet odio sit amet dui aliquam tempus a ultrices felis. Proin sed imperdiet
                                                    ipsum, ultrices posuere leo.

                                                <p> Duis facilisis dapibus enim, ac venenatis nibh mattis in. Cras eu
                                                    condimentum lacus, ac ultricies leo. Nunc sodales ipsum a suscipit.</p>
                                                <p> Mauris tincidunt rutrum auctor. <a href="#">Vivamus a nunc ac augue scelerisque dapibus</a> ut sed augue. Pellentesque fermentum orci in
                                                    velit pharetra, non lobortis sapien suscipit. Aenean sem nulla, dignissim et bibendum et, consequat in nibh.</p>
                                                <p> Nam sollicitudin neque eu nibh pharetra mollis. Mauris in nisi elit. Maecenas at metus rhoncus, facilisis tellus at, pretium orci.
                                                    Vivamus consectetur sem eget neque dignissim, sit amet sodales urna mattis. Vivamus ut semper dolor. Suspendisse tempus,
                                                    dolor vel eleifend vestibulum, nulla eros elementum ligula, ac bibendum mi ipsum quis felis. Donec adipiscing iaculis sapien
                                                    nec porta. Aliquam tellus leo, posuere ut magna porta, auctor adipiscing massa. Maecenas sem mi, vestibulum id lectus non,
                                                    placerat rhoncus dui. </p>
                                            </div>
                                        </div>
                                        <!--Panel_body-->
                                    </div>
                                </div>
                            </div>
                            <!--description-->

                            <!--description-->
                            <div class="panel panel-default padding-top-20 padding-bottom-15" data-categories="Navigational,Stereo,Sunroof">
                                <div class="panel-heading padding-vertical-10 padding-horizontal-15">
                                    <h4 class="panel-title padding-left-30"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsefive" class="collapsed">Donec adipiscing tincidunt rutrum iaculis sapien nec porta ment yehu? </a> </h4>
                                </div>
                                <div id="collapsefive" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <!--Panel_body-->
                                        <div class="faq_post padding-left-40">
                                            <div class="post-entry clearfix margin-top-10"> <img src="images/faq-img1.jpg" alt="" class="alignleft">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh libero,
                                                    consequat sit amet nisl vitae, suscipit gravida mi. Nam auctor viverra
                                                    sodales. Quisque posuere tincidunt convallis. Ut viverra neque non diam
                                                    tempor, id tincidunt mauris cursus. Donec suscipit mattis viverra. Cras sit
                                                    amet odio sit amet dui aliquam tempus a ultrices felis. Proin sed imperdiet
                                                    ipsum, ultrices posuere leo.

                                                <p> Duis facilisis dapibus enim, ac venenatis nibh mattis in. Cras eu
                                                    condimentum lacus, ac ultricies leo. Nunc sodales ipsum a suscipit.</p>
                                                <p> Mauris tincidunt rutrum auctor. <a href="#">Vivamus a nunc ac augue scelerisque dapibus</a> ut sed augue. Pellentesque fermentum orci in
                                                    velit pharetra, non lobortis sapien suscipit. Aenean sem nulla, dignissim et bibendum et, consequat in nibh.</p>
                                                <p> Nam sollicitudin neque eu nibh pharetra mollis. Mauris in nisi elit. Maecenas at metus rhoncus, facilisis tellus at, pretium orci.
                                                    Vivamus consectetur sem eget neque dignissim, sit amet sodales urna mattis. Vivamus ut semper dolor. Suspendisse tempus,
                                                    dolor vel eleifend vestibulum, nulla eros elementum ligula, ac bibendum mi ipsum quis felis. Donec adipiscing iaculis sapien
                                                    nec porta. Aliquam tellus leo, posuere ut magna porta, auctor adipiscing massa. Maecenas sem mi, vestibulum id lectus non,
                                                    placerat rhoncus dui. </p>
                                            </div>
                                        </div>
                                        <!--Panel_body-->
                                    </div>
                                </div>
                            </div>
                            <!--description-->

                            <!--description-->
                            <div class="panel panel-default padding-top-20 padding-bottom-15" data-categories="Engine,Navigational,Stereo">
                                <div class="panel-heading padding-vertical-10 padding-horizontal-15">
                                    <h4 class="panel-title padding-left-30"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsesix" class="collapsed">Aliquam tellus leo, posuere ut magna porta, auctor adipiscing massa maecenas sem mi? </a> </h4>
                                </div>
                                <div id="collapsesix" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <!--Panel_body-->
                                        <div class="faq_post padding-left-40">
                                            <div class="post-entry clearfix margin-top-10"> <img src="images/faq-img1.jpg" alt="" class="alignleft">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh libero,
                                                    consequat sit amet nisl vitae, suscipit gravida mi. Nam auctor viverra
                                                    sodales. Quisque posuere tincidunt convallis. Ut viverra neque non diam
                                                    tempor, id tincidunt mauris cursus. Donec suscipit mattis viverra. Cras sit
                                                    amet odio sit amet dui aliquam tempus a ultrices felis. Proin sed imperdiet
                                                    ipsum, ultrices posuere leo.

                                                <p> Duis facilisis dapibus enim, ac venenatis nibh mattis in. Cras eu
                                                    condimentum lacus, ac ultricies leo. Nunc sodales ipsum a suscipit.</p>
                                                <p> Mauris tincidunt rutrum auctor. <a href="#">Vivamus a nunc ac augue scelerisque dapibus</a> ut sed augue. Pellentesque fermentum orci in
                                                    velit pharetra, non lobortis sapien suscipit. Aenean sem nulla, dignissim et bibendum et, consequat in nibh.</p>
                                                <p> Nam sollicitudin neque eu nibh pharetra mollis. Mauris in nisi elit. Maecenas at metus rhoncus, facilisis tellus at, pretium orci.
                                                    Vivamus consectetur sem eget neque dignissim, sit amet sodales urna mattis. Vivamus ut semper dolor. Suspendisse tempus,
                                                    dolor vel eleifend vestibulum, nulla eros elementum ligula, ac bibendum mi ipsum quis felis. Donec adipiscing iaculis sapien
                                                    nec porta. Aliquam tellus leo, posuere ut magna porta, auctor adipiscing massa. Maecenas sem mi, vestibulum id lectus non,
                                                    placerat rhoncus dui. </p>
                                            </div>
                                        </div>
                                        <!--Panel_body-->
                                    </div>
                                </div>
                            </div>
                            <!--description-->

                            <!--description-->
                            <div class="panel panel-default padding-top-20 padding-bottom-15" data-categories="Electrical,Mechanical,Stereo">
                                <div class="panel-heading padding-vertical-10 padding-horizontal-15">
                                    <h4 class="panel-title padding-left-30"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseseven" class="collapsed">Posuere ut magna porta, auctor adipiscing massa maecenas sem mi, vestibulum id? </a> </h4>
                                </div>
                                <div id="collapseseven" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <!--Panel_body-->
                                        <div class="faq_post padding-left-40">
                                            <div class="post-entry clearfix margin-top-10"> <img src="images/faq-img1.jpg" alt="" class="alignleft">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh libero,
                                                    consequat sit amet nisl vitae, suscipit gravida mi. Nam auctor viverra
                                                    sodales. Quisque posuere tincidunt convallis. Ut viverra neque non diam
                                                    tempor, id tincidunt mauris cursus. Donec suscipit mattis viverra. Cras sit
                                                    amet odio sit amet dui aliquam tempus a ultrices felis. Proin sed imperdiet
                                                    ipsum, ultrices posuere leo.

                                                <p> Duis facilisis dapibus enim, ac venenatis nibh mattis in. Cras eu
                                                    condimentum lacus, ac ultricies leo. Nunc sodales ipsum a suscipit.</p>
                                                <p> Mauris tincidunt rutrum auctor. <a href="#">Vivamus a nunc ac augue scelerisque dapibus</a> ut sed augue. Pellentesque fermentum orci in
                                                    velit pharetra, non lobortis sapien suscipit. Aenean sem nulla, dignissim et bibendum et, consequat in nibh.</p>
                                                <p> Nam sollicitudin neque eu nibh pharetra mollis. Mauris in nisi elit. Maecenas at metus rhoncus, facilisis tellus at, pretium orci.
                                                    Vivamus consectetur sem eget neque dignissim, sit amet sodales urna mattis. Vivamus ut semper dolor. Suspendisse tempus,
                                                    dolor vel eleifend vestibulum, nulla eros elementum ligula, ac bibendum mi ipsum quis felis. Donec adipiscing iaculis sapien
                                                    nec porta. Aliquam tellus leo, posuere ut magna porta, auctor adipiscing massa. Maecenas sem mi, vestibulum id lectus non,
                                                    placerat rhoncus dui. </p>
                                            </div>
                                        </div>
                                        <!--Panel_body-->
                                    </div>
                                </div>
                            </div>
                            <!--description-->

                            <!--description-->
                            <div class="panel panel-default padding-top-20 padding-bottom-15" data-categories="Engine,Navigational,Navigational">
                                <div class="panel-heading padding-vertical-10 padding-horizontal-15">
                                    <h4 class="panel-title padding-left-30"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseeight" class="collapsed">Duis facilisis dapibus enim, ac venenatis nibh mattis in cras eu condimentum lacus? </a> </h4>
                                </div>
                                <div id="collapseeight" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <!--Panel_body-->
                                        <div class="faq_post padding-left-40">
                                            <div class="post-entry clearfix margin-top-10"> <img src="images/faq-img1.jpg" alt="" class="alignleft">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh libero,
                                                    consequat sit amet nisl vitae, suscipit gravida mi. Nam auctor viverra
                                                    sodales. Quisque posuere tincidunt convallis. Ut viverra neque non diam
                                                    tempor, id tincidunt mauris cursus. Donec suscipit mattis viverra. Cras sit
                                                    amet odio sit amet dui aliquam tempus a ultrices felis. Proin sed imperdiet
                                                    ipsum, ultrices posuere leo.

                                                <p> Duis facilisis dapibus enim, ac venenatis nibh mattis in. Cras eu
                                                    condimentum lacus, ac ultricies leo. Nunc sodales ipsum a suscipit.</p>
                                                <p> Mauris tincidunt rutrum auctor. <a href="#">Vivamus a nunc ac augue scelerisque dapibus</a> ut sed augue. Pellentesque fermentum orci in
                                                    velit pharetra, non lobortis sapien suscipit. Aenean sem nulla, dignissim et bibendum et, consequat in nibh.</p>
                                                <p> Nam sollicitudin neque eu nibh pharetra mollis. Mauris in nisi elit. Maecenas at metus rhoncus, facilisis tellus at, pretium orci.
                                                    Vivamus consectetur sem eget neque dignissim, sit amet sodales urna mattis. Vivamus ut semper dolor. Suspendisse tempus,
                                                    dolor vel eleifend vestibulum, nulla eros elementum ligula, ac bibendum mi ipsum quis felis. Donec adipiscing iaculis sapien
                                                    nec porta. Aliquam tellus leo, posuere ut magna porta, auctor adipiscing massa. Maecenas sem mi, vestibulum id lectus non,
                                                    placerat rhoncus dui. </p>
                                            </div>
                                        </div>
                                        <!--Panel_body-->
                                    </div>
                                </div>
                            </div>
                            <!--description-->

                            <!--description-->
                            <div class="panel panel-default padding-top-20 padding-bottom-15" data-categories="Electrical,Sunroof,Wiring">
                                <div class="panel-heading padding-vertical-10 padding-horizontal-15">
                                    <h4 class="panel-title padding-left-30"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsenine" class="collapsed">Quisque posuere tincidunt convallis ut viverra neque non diam tempor, id tinciunt mauris cursus? </a> </h4>
                                </div>
                                <div id="collapsenine" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <!--Panel_body-->
                                        <div class="faq_post padding-left-40">
                                            <div class="post-entry clearfix margin-top-10"> <img src="images/faq-img1.jpg" alt="" class="alignleft">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh libero,
                                                    consequat sit amet nisl vitae, suscipit gravida mi. Nam auctor viverra
                                                    sodales. Quisque posuere tincidunt convallis. Ut viverra neque non diam
                                                    tempor, id tincidunt mauris cursus. Donec suscipit mattis viverra. Cras sit
                                                    amet odio sit amet dui aliquam tempus a ultrices felis. Proin sed imperdiet
                                                    ipsum, ultrices posuere leo.

                                                <p> Duis facilisis dapibus enim, ac venenatis nibh mattis in. Cras eu
                                                    condimentum lacus, ac ultricies leo. Nunc sodales ipsum a suscipit.</p>
                                                <p> Mauris tincidunt rutrum auctor. <a href="#">Vivamus a nunc ac augue scelerisque dapibus</a> ut sed augue. Pellentesque fermentum orci in
                                                    velit pharetra, non lobortis sapien suscipit. Aenean sem nulla, dignissim et bibendum et, consequat in nibh.</p>
                                                <p> Nam sollicitudin neque eu nibh pharetra mollis. Mauris in nisi elit. Maecenas at metus rhoncus, facilisis tellus at, pretium orci.
                                                    Vivamus consectetur sem eget neque dignissim, sit amet sodales urna mattis. Vivamus ut semper dolor. Suspendisse tempus,
                                                    dolor vel eleifend vestibulum, nulla eros elementum ligula, ac bibendum mi ipsum quis felis. Donec adipiscing iaculis sapien
                                                    nec porta. Aliquam tellus leo, posuere ut magna porta, auctor adipiscing massa. Maecenas sem mi, vestibulum id lectus non,
                                                    placerat rhoncus dui. </p>
                                            </div>
                                        </div>
                                        <!--Panel_body-->
                                    </div>
                                </div>
                            </div>
                            <!--description-->

                            <!--description-->
                            <div class="panel panel-default padding-top-20 padding-bottom-15" data-categories="Mechanical,Engine,Stereo">
                                <div class="panel-heading padding-vertical-10 padding-horizontal-15 padding-bottom-none">
                                    <h4 class="panel-title padding-left-30"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseten" class="collapsed">Suscipit mattis viverra cras sit amet odio sit amet dui aliquam tempus a ultrices felis? </a> </h4>
                                </div>
                                <div id="collapseten" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <!--Panel_body-->
                                        <div class="faq_post padding-left-40">
                                            <div class="post-entry clearfix margin-top-10"> <img src="images/faq-img1.jpg" alt="" class="alignleft">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh libero,
                                                    consequat sit amet nisl vitae, suscipit gravida mi. Nam auctor viverra
                                                    sodales. Quisque posuere tincidunt convallis. Ut viverra neque non diam
                                                    tempor, id tincidunt mauris cursus. Donec suscipit mattis viverra. Cras sit
                                                    amet odio sit amet dui aliquam tempus a ultrices felis. Proin sed imperdiet
                                                    ipsum, ultrices posuere leo.

                                                <p> Duis facilisis dapibus enim, ac venenatis nibh mattis in. Cras eu
                                                    condimentum lacus, ac ultricies leo. Nunc sodales ipsum a suscipit.</p>
                                                <p> Mauris tincidunt rutrum auctor. <a href="#">Vivamus a nunc ac augue scelerisque dapibus</a> ut sed augue. Pellentesque fermentum orci in
                                                    velit pharetra, non lobortis sapien suscipit. Aenean sem nulla, dignissim et bibendum et, consequat in nibh.</p>
                                                <p> Nam sollicitudin neque eu nibh pharetra mollis. Mauris in nisi elit. Maecenas at metus rhoncus, facilisis tellus at, pretium orci.
                                                    Vivamus consectetur sem eget neque dignissim, sit amet sodales urna mattis. Vivamus ut semper dolor. Suspendisse tempus,
                                                    dolor vel eleifend vestibulum, nulla eros elementum ligula, ac bibendum mi ipsum quis felis. Donec adipiscing iaculis sapien
                                                    nec porta. Aliquam tellus leo, posuere ut magna porta, auctor adipiscing massa. Maecenas sem mi, vestibulum id lectus non,
                                                    placerat rhoncus dui. </p>
                                            </div>
                                        </div>
                                        <!--Panel_body-->
                                    </div>
                                </div>
                            </div>
                            <!--description-->

                        </div>
                    </div>
                </div>
                <!--FAQ LEFT-->
                <!--FAQ LEFT-->
                <div class="col-md-3 xs-margin-top-30">
                    <div class="right_faq">
                        <div class="side-widget side-content">
                            <form class="search-box padding-bottom-50" role="search">
                                <h3>SEARCH</h3>
                                <div class="form-group">
                                    <input type="search" class="form-control" placeholder="Search for...">
                                </div>
                                <input type="submit" value="Search" class="margin-top-10 margin-bottom-none md-button">
                            </form>
                            <div class="recent_posts_container padding-bottom-50">
                                <h3 class="recent_posts">RECENT POSTS</h3>
                                <div class="side-blog"><img src="images/blog-thumb-1.jpg" class="alignleft" alt=""> <strong>Most recent post</strong>
                                    <p>Lorem ipsum dolor sit amet, id melius accusam mea ...</p>
                                </div>
                                <div class="side-blog"><img src="images/blog-thumb-2.jpg" class="alignleft" alt=""> <strong>Second most recent post</strong>
                                    <p>Oblique copiosae dissentiunt ea vim, ius ea ...</p>
                                </div>
                                <div class="side-blog"><img src="images/blog-thumb-3.jpg" class="alignleft" alt=""> <strong>Third most recent post</strong>
                                    <p>Eos ad errem virtute convenire, ex sea hinc ...</p>
                                </div>
                                <div class="side-blog"><img src="images/blog-thumb-4.jpg" class="alignleft" alt=""> <strong>Fourth most recent post</strong>
                                    <p>Ea vis gloriatur efficiantur intellegebat, id ...</p>
                                </div>
                                <div class="side-blog"><img src="images/blog-thumb-5.jpg" class="alignleft" alt=""> <strong>Fifth most recent post</strong>
                                    <p>Sea ea semper eripuit inermis, nec ut elit ...</p>
                                </div>
                            </div>
                            <div class="list testimonial_div padding-bottom-50 xs-padding-bottom-none">
                                <h3>TESTIMONIALS</h3>
                                <div class="testimonial">
                                    <ul class="testimonial_slider">
                                        <li>
                                            <blockquote class="style1"><span>Happiness does not come from
                                                doing easy work but from the
                                                afterglow of satisfaction that
                                                comes after the achievement of
                                                a difficult task that demanded
                                                our best.</span> <strong>Theodore Isaac Rubin</strong> </blockquote>
                                        </li>
                                        <li>
                                            <blockquote class="style1"><span>Happiness does not come from
                                                doing easy work but from the
                                                afterglow of satisfaction that
                                                comes after the achievement of
                                                a difficult task that demanded
                                                our best.</span> <strong>Theodore Isaac Rubin</strong> </blockquote>
                                        </li>
                                        <li>
                                            <blockquote class="style1"><span>Happiness does not come from
                                                doing easy work but from the
                                                afterglow of satisfaction that
                                                comes after the achievement of
                                                a difficult task that demanded
                                                our best.</span> <strong>Theodore Isaac Rubin</strong> </blockquote>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--FAQ RIGHT-->

    </div>
    <!--container ends-->
</section>
<!--content ends-->

<!--Footer Start-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h4>About us</h4>
                <img src="images/ceo.jpg" alt="">
                <p>Sed ut perspiciatis unde om
                    nis iste natus error sit volup
                    atem accusantium dolor
                    que laudantium. Totam reillo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo. Nemo en
                    im ipsam voluptatem quia voluptas sit asper
                    natur aut odit aut fugit. </p>
                <a href="#"><em>Harold Ford, President / CEO</em></a> </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h4>Contact us</h4>
                <div class="footer-contact">
                    <ul>
                        <li><strong><i class="fa fa-phone"></i>Phone:</strong><span>1-800-123-4567</span></li>
                        <li><strong><i class="fa fa-map-marker"></i>Address:</strong><span>Company Name<br>
                            1234 Street Name<br>
                            City Name, AB  12345<br>
                            United States</span></li>
                        <li><strong><i class="fa fa-envelope-o"></i>Email:</strong><span><a href="#">sales@company.com</a></span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h4>Latest tweets</h4>
                <div class="latest-tweet">
                    <div><i class="fa fa-twitter"></i>
                        <p>Put your tweet message here.  Make it
                            compelling to attract other <a href="#">@people</a> to
                            read and click on your <a href="#">http://links</a> to
                            your site. <a href="#">#hashtag</a></p>
                    </div>
                    <div><i class="fa fa-twitter"></i>
                        <p>Put your tweet message here.  Make it
                            compelling to attract other <a href="#">@people</a> to
                            read and click on your <a href="#">http://links</a> to
                            your site. <a href="#">#hashtag</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h4>newsletter</h4>
                <p>By subscribing to our company newsletter
                    you will always be up-to-date on our latest
                    promotions, deals and vehicle inventory!</p>
                <form method="post" action="#" class="form_contact">
                    <input type="text" value="" name="MERGE0" placeholder="Email Address">
                    <input type="submit" value="Subscribe" class="md-button">
                    <input type="hidden" name="u" value="">
                    <input type="hidden" name="id" value="">
                </form>
            </div>
        </div>
    </div>
</footer>
{% include 'includes/footer.html' %}
</body>
</html>