{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'includes/meta.html' %}

    <style>

    </style>
    
</head>

<body>
{% include 'includes/header.html' %}

<div class="clearfix"></div>


  
  <section class="section-login">
    <div class="login-container">
      <h1>Login</h1>
      <form method="POST">
          {% csrf_token %}
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <button type="submit">Submit</button>
      </form>
    </div>
  </section>

  
{% include 'includes/footer.html' %}

</body>
</html>