{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'includes/meta.html' %}
</head>

<body>
{% include 'includes/header.html' %}
<div class="clearfix"></div>
<section id="secondary-banner" class="dynamic-image-11"><!--for other images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>Our Team</h2>
                <h4>Customer service is not a department, it's everyone's job.</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Our Team</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--secondary-banner ends-->
<div class="message-shadow"></div>
<div class="clearfix"></div>
<section class="content">
    <div class="container">
        <div class="inner-page">
            <div class="find_team clearfix">
                <h2 class="margin-top-none">MEET THE MANAGEMENT</h2>
                <div class="people padding-bottom-40 clearfix">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="team margin-top-15 xs-margin-bottom-30"> <a href="images/team1-lrg.jpg" class="fancybox"><img src="{% static 'images/ceo2.jpeg' %}" class="aligncenter" alt="team" /> </a>
                                <div class="name_post padding-bottom-15">
                                    <h4>代表取締役社長/CEO:IRFAN RAZAQ
                                        　　　　　　　　　          　　                           　　　イルファンラザク
                                        </h4>
                                    <p>Chief Executive Officer / CEO</p>
                                </div>
                                <div class="about_team padding-bottom-10">
                                    <p class="margin-vertical-15">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor aenean massa. Cum
                                        sociis numquasa mode tempora posuere feugiat.</p>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>+81-90-1900-5325</li>
                                        <li><i class="fa fa-mobile"></i>+81-721-26-7197</li>
                                        <li><i class="fa fa-envelope-o"></i><a >pk.international.jp@gmail.com</a></li>
                                    </ul>
                                </div>
                                <div class="social_team pull-left">
                                    <ul class="social margin-bottom-none">
                                        <li class="margin-bottom-none"><a class="sc-1" href="pk.international.jp"></a></li>
                                        <li class="margin-bottom-none"><a class="sc-2" href="pk.international.jp"></a></li>
                            
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4 col-sm-12">
                            <div class="team margin-top-15 xs-margin-bottom-30"> <a href="images/team2-lrg.jpg" class="fancybox"> <img src="{% static 'images/team2-lrg.jpg' %}" class="aligncenter" alt="team" /> </a>
                                <div class="name_post padding-bottom-15">
                                    <h4>Leah Jennings</h4>
                                    <p>Chief Financial Officer / CFO</p>
                                </div>
                                <div class="about_team padding-bottom-10">
                                    <p class="margin-vertical-15">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor aenean massa. Cum
                                        sociis numquasa mode tempora posuere feugiat.</p>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>1-800-123-4567 - Extension 107</li>
                                        <li><i class="fa fa-mobile"></i>1-902-342-0864</li>
                                        <li><i class="fa fa-envelope-o"></i><a href="#">leah@automotivetemplate.com</a></li>
                                    </ul>
                                </div>
                                <div class="social_team pull-left">
                                    <ul class="social margin-bottom-none">
                                        <li class="margin-bottom-none"><a class="sc-1" href="#"></a></li>
                                        <li class="margin-bottom-none"><a class="sc-2" href="#"></a></li>
                                        <li class="margin-bottom-none"><a class="sc-5" href="#"></a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="team margin-top-15"> <a href="images/team3-lrg.jpg" class="fancybox"> <img src="{% static 'images/team3.jpg' %}" class="aligncenter" alt="team" /> </a>
                                <div class="name_post padding-bottom-15">
                                    <h4>Zachary Hale</h4>
                                    <p>Lead Sales Manager</p>
                                </div>
                                <div class="about_team padding-bottom-10">
                                    <p class="margin-vertical-15">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor aenean massa. Cum
                                        sociis numquasa mode tempora posuere feugiat.</p>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>1-800-123-4567 - Extension 119</li>
                                        <li><i class="fa fa-mobile"></i>1-902-832-3702</li>
                                        <li><i class="fa fa-envelope-o"></i><a href="#">zachary@automotivetemplate.com</a></li>
                                    </ul>
                                </div>
                                <div class="social_team pull-left">
                                    <ul class="social margin-bottom-none">
                                        <li class="margin-bottom-none"><a class="sc-1" href="#"></a></li>
                                        <li class="margin-bottom-none"><a class="sc-2" href="#"></a></li>
                                        <li class="margin-bottom-none"><a class="sc-5" href="#"></a></li>
                                        <li class="margin-bottom-none"><a class="sc-9" href="#"></a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
   
           
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <!--container ends-->
</section>
<!--content ends-->
<div class="clearfix"></div>


{% include 'includes/footer.html' %}
</body>
</html>