{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'includes/meta.html' %}

    <style>

    </style>
    
</head>

<body>
{% include 'includes/header.html' %}

<div class="clearfix"></div>

<!--message-wrap ends-->
<section class="content" style="margin-top: 120px;">
    <div class="container">
        <div class="inner-page homepage margin-bottom-none">
            
            <!--car-info-wrap ends-->
            <section class="welcome-wrap padding-top-30 sm-horizontal-15">
                <div class="row">


                    <div class="recent-vehicles-wrap margin-top-30 sm-padding-left-none padding-bottom-40">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 recent-vehicles padding-left-none">
                                <h5 class="margin-top-none">Recent Vehicles</h5>
                                <p>Browse through the vast
                                    selection of vehicles that
                                    have recently been added
                                    to our inventory.</p>
                                <div class="arrow3 clearfix margin-top-15 xs-margin-bottom-25" id="slideControls3"><span
                                        class="prev-btn"></span><span class="next-btn"></span></div>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-8 padding-right-none xs-padding-left-none">
                                <div class="carasouel-slider3">
                                    <div class="slide">
                                        <div class="angled_badge blue">
                                            <span>405 HP</span>
                                        </div>
                                        <div class="car-block">
                                            <div class="img-flex"><a href="inventory-listing.html"><span
                                                    class="align-center"><i
                                                    class="fa fa-3x fa-plus-square-o"></i></span></a> <img
                                                    src="{% static 'images/c-car1.jpg' %}" alt="" class="img-responsive"></div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2012 Porsche Cayenne GTS</strong></h6>
                                                <h6>1 Owner, 26,273 miles</h6>
                                                <h5>$ 102,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="angled_badge red">
                                            <span>Just Arrived</span>
                                        </div>
                                        <div class="car-block">
                                            <div class="img-flex"><a href="inventory-listing.html"><span
                                                    class="align-center"><i
                                                    class="fa fa-3x fa-plus-square-o"></i></span></a> <img
                                                    src="{% static 'images/c-car2.jpg' %}" alt="" class="img-responsive"></div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2009 Porsche Boxster</strong></h6>
                                                <h6>New Tires, 26,273 miles</h6>
                                                <h5>$ 34,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="car-block">
                                            <div class="img-flex"><a href="inventory-listing.html"><span
                                                    class="align-center"><i
                                                    class="fa fa-3x fa-plus-square-o"></i></span></a> <img
                                                    src="{% static 'images/c-car3.jpg' %}" alt="" class="img-responsive"></div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2019 Porsche Panamera S</strong></h6>
                                                <h6>Demonstrator, 7,088 miles</h6>
                                                <h5>$ 63,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="car-block">
                                            <div class="img-flex"><a href="inventory-listing.html"><span
                                                    class="align-center"><i
                                                    class="fa fa-3x fa-plus-square-o"></i></span></a> <img
                                                    src="{% static 'images/c-car4.jpg' %}" alt="" class="img-responsive"></div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2010 Porsche Carrera 4S</strong></h6>
                                                <h6>AWD, 21,900 miles</h6>
                                                <h5>$ 73,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="car-block">
                                            <div class="img-flex"><a href="inventory-listing.html"><span
                                                    class="align-center"><i
                                                    class="fa fa-3x fa-plus-square-o"></i></span></a> <img
                                                    src="{% static 'images/c-car5.jpg' %}" alt="" class="img-responsive"></div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2012 Porsche Carrera S</strong></h6>
                                                <h6>Convertible, 22,158 miles</h6>
                                                <h5>$ 56,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="car-block">
                                            <div class="img-flex"><a href="inventory-listing.html"><span
                                                    class="align-center"><i
                                                    class="fa fa-3x fa-plus-square-o"></i></span></a> <img
                                                    src="{% static 'images/c-car6.jpg' %}" alt="" class="img-responsive"></div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2019 Porsche Panamera GTS</strong></h6>
                                                <h6>1 Owner, 3,914 miles</h6>
                                                <h5>$ 94,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="car-block">
                                            <div class="img-flex"><a href="inventory-listing.html"><span
                                                    class="align-center"><i
                                                    class="fa fa-3x fa-plus-square-o"></i></span></a> <img
                                                    src="{% static 'images/c-car7.jpg' %}" alt="" class="img-responsive"></div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2014 Porsche Cayenne GTS</strong></h6>
                                                <h6>1 Owner, 7 miles</h6>
                                                <h5>$ 114,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <span class="sold_text">Sold</span>
                                        <div class="car-block">
                                            <div class="img-flex"><a href="inventory-listing.html"><span
                                                    class="align-center"><i
                                                    class="fa fa-3x fa-plus-square-o"></i></span></a> <img
                                                    src="{% static 'images/c-car8.jpg' %}" alt="" class="img-responsive"></div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2014 Porsche GTS</strong></h6>
                                                <h6>1 Owner, 5 miles</h6>
                                                <h5>$ 99,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="car-block">
                                            <div class="img-flex"><a href="inventory-listing.html"><span
                                                    class="align-center"><i
                                                    class="fa fa-3x fa-plus-square-o"></i></span></a> <img
                                                    src="{% static 'images/c-car9.jpg' %}" alt="" class="img-responsive"></div>
                                            <div class="car-block-bottom">
                                                <h6><strong>2009 Porsche Carrera 4S</strong></h6>
                                                <h6>1 Owner, 114,239 miles</h6>
                                                <h5>$ 39,995</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                   
    
    


           
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-bottom-40 scroll_effect fadeInUp"
                         data-wow-delay='.2s' style="z-index:100">
                        <h4 class="margin-bottom-25 margin-top-none"><strong>Buy</strong> OUR Vehicle </h4>
                        <div class="search-form margin-top-20 padding-vertical-20">
                            <form method="post" action="#">
                                <div class="select-wrapper row clearfix">
                                    <div class="col-md-6">
                                        <div class="min-price select-dropdown">
                                            <div class="my-dropdown min-price-dropdown min-dropdown">
                                                <select name="min-year" class="css-dropdowns" tabindex="1">
                                                    <option value="">Min Year</option>
                                                    <option>2021</option>
                                                    <option>2020</option>
                                                    <option>2019</option>
                                                    <option>2018</option>
                                                    <option>2017</option>
                                                    <option>2016</option>
                                                    <option>2015</option>
                                                    <option>2014</option>
                                                    <option>2013</option>
                                                    <option>2012</option>
                                                    <option>2011</option>
                                                    <option>2010</option>
                                                </select>
                                            </div>
                                            <span class="my-dropdown">to</span>
                                            <div class="my-dropdown max-price-dropdown min-dropdown">
                                                <select name="max-year" class="css-dropdowns" tabindex="1">
                                                    <option value="">Max Year</option>
                                                    <option>2021</option>
                                                    <option>2020</option>
                                                    <option>2019</option>
                                                    <option>2018</option>
                                                    <option>2017</option>
                                                    <option>2016</option>
                                                    <option>2015</option>
                                                    <option>2014</option>
                                                    <option>2013</option>
                                                    <option>2012</option>
                                                    <option>2011</option>
                                                    <option>2010</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="min-price select-dropdown">
                                            <div class="my-dropdown min-price-dropdown min-dropdown">
                                                <select name="min-price" class="css-dropdowns" tabindex="1">
                                                    <option value="">Min Price</option>
                                                    <option>0</option>
                                                    <option>&lt; 10,000</option>
                                                    <option>&lt; 20,000</option>
                                                    <option>&lt; 30,000</option>
                                                    <option>&lt; 40,000</option>
                                                    <option>&lt; 50,000</option>
                                                    <option>&lt; 60,000</option>
                                                    <option>&lt; 70,000</option>
                                                    <option>&lt; 80,000</option>
                                                    <option>&lt; 90,000</option>
                                                    <option>&lt; 100,000</option>
                                                    <option>&lt; 120,000</option>
                                                    <option>&lt; 150,000</option>
                                                </select>
                                            </div>
                                            <span class="my-dropdown">to</span>
                                            <div class="my-dropdown max-price-dropdown min-dropdown">
                                                <select name="max-price" class="css-dropdowns" tabindex="1">
                                                    <option value="">Max Price</option>
                                                    <option>0</option>
                                                    <option>&lt; 10,000</option>
                                                    <option>&lt; 20,000</option>
                                                    <option>&lt; 30,000</option>
                                                    <option>&lt; 40,000</option>
                                                    <option>&lt; 50,000</option>
                                                    <option>&lt; 60,000</option>
                                                    <option>&lt; 70,000</option>
                                                    <option>&lt; 80,000</option>
                                                    <option>&lt; 90,000</option>
                                                    <option>&lt; 100,000</option>
                                                    <option>&lt; 120,000</option>
                                                    <option>&lt; 150,000</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="select-wrapper row clearfix">
                                    <div class="col-md-6">
                                        <div class="my-dropdown make-dropdown">
                                            <select name="body_style" class="css-dropdowns" tabindex="1">
                                                <option value="">Body Style</option>
                                                <option>Cargo</option>
                                                <option>Compact</option>
                                                <option>Convertible</option>
                                                <option>Coupe</option>
                                                <option>Hatchback</option>
                                                <option>Minivan</option>
                                                <option>Sedan</option>
                                                <option>SUV</option>
                                                <option>Truck</option>
                                                <option>Van</option>
                                                <option>Wagon</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="min-price select-dropdown">
                                            <div class="my-dropdown min-price-dropdown min-dropdown">
                                                <select name="min-mileage" class="css-dropdowns" tabindex="1">
                                                    <option value="">Min Mileage</option>
                                                    <option>0</option>
                                                    <option>&lt; 10,000</option>
                                                    <option>&lt; 20,000</option>
                                                    <option>&lt; 30,000</option>
                                                    <option>&lt; 40,000</option>
                                                    <option>&lt; 50,000</option>
                                                    <option>&lt; 60,000</option>
                                                    <option>&lt; 70,000</option>
                                                    <option>&lt; 80,000</option>
                                                    <option>&lt; 90,000</option>
                                                    <option>&lt; 100,000</option>
                                                    <option>&lt; 120,000</option>
                                                    <option>&lt; 150,000</option>
                                                </select>
                                            </div>
                                            <span class="my-dropdown">to</span>
                                            <div class="my-dropdown max-price-dropdown min-dropdown">
                                                <select name="max-mileage" class="css-dropdowns" tabindex="1">
                                                    <option value="">Max Mileage</option>
                                                    <option>0</option>
                                                    <option>&lt; 10,000</option>
                                                    <option>&lt; 20,000</option>
                                                    <option>&lt; 30,000</option>
                                                    <option>&lt; 40,000</option>
                                                    <option>&lt; 50,000</option>
                                                    <option>&lt; 60,000</option>
                                                    <option>&lt; 70,000</option>
                                                    <option>&lt; 80,000</option>
                                                    <option>&lt; 90,000</option>
                                                    <option>&lt; 100,000</option>
                                                    <option>&lt; 120,000</option>
                                                    <option>&lt; 150,000</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="select-wrapper row clearfix">
                                    <div class="col-md-6">
                                        <div class="my-dropdown make-dropdown">
                                            <select name="model" class="css-dropdowns" tabindex="1">
                                                <option value="">Model</option>
                                                <option>Lorem</option>
                                                <option>ipsum</option>
                                                <option>dolor</option>
                                                <option>sit</option>
                                                <option>amet</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="my-dropdown make-dropdown">
                                            <select name="transmission" class="css-dropdowns" tabindex="1">
                                                <option value="">Transmission</option>
                                                <option>Automatic</option>
                                                <option>Manual</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="select-wrapper row clearfix">
                                    <div class="col-md-6">
                                        <div class="my-dropdown make-dropdown">
                                            <select name="make" class="css-dropdowns" tabindex="1">
                                                <option value="">Make</option>
                                                <option>Lorem</option>
                                                <option>ipsum</option>
                                                <option>dolor</option>
                                                <option>sit</option>
                                                <option>amet</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="my-dropdown">
                                            <input class="full-width" type="search" value=""
                                                   placeholder="Refine with keywords">
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="select-wrapper row clearfix">
                                    <div class="form-element clearfix">
                                        <input type="checkbox" id="check">
                                        <label for="check">Certified</label>
                                    </div>
                                    <div class="form-element">
                                        <input type="checkbox" id="check2">
                                        <label for="check2">CARFAX&reg; Verified</label>
                                    </div>
                                    <div class="form-element">
                                        <input type="checkbox" id="check3">
                                        <label for="check3">Brand New</label>
                                    </div>
                                    <div class="form-element">
                                        <input type="submit" value="Find Vehicle"
                                               class="find_new_vehicle pull-right md-button">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--invetory ends-->
                </div>

               
            
            </section>
            <!--welcome-wrap ends-->

        </div>
    </div>
</section>


{% include 'includes/footer.html' %}

</body>
</html>