{% load static %}
<footer class="design_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-none md-padding-left-none sm-padding-left-15 xs-padding-left-15">
                <h4>株式会社 PK INTERNATIONAL</h4>
                <p>中古車・重機の買取、販売、貿易をしている会社です。
                    中古車、事故車、車検切れ車、ダンプ、トラック、ユンボショベル、ウィング、重機、建設機械、農業機械を高価買取致します。</p>
              
                </div>
           
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-right-none md-padding-right-none sm-padding-right-15 xs-padding-right-15">
                <h4>Contact us</h4>
                <div class="footer-contact">
                    <ul>
                        <li><i class="fa fa-map-marker"></i> <strong>ADDRESS:</strong> 〒584-0069 Osaka, Tondabayashi, Nishikiorihigashi, 2-chōme−10−5 グランドコーポ 錦303号室</li>
                        <li><i class="fa fa-phone"></i> <strong>TEL:</strong>+81 721 26 7197</li>
                        <li><i class="fa fa-fax"></i> <strong>FAX:</strong><a>+81 721 26 7297</a></li>
                        <li><i class="fa fa-phone"></i> <strong>MOBILE:</strong>+81-90-1900-5325</li>
                        <li><i class="fa fa-envelope-o"></i> <strong>EMAIL:</strong><a href="mailto:pk.international.jp@gmail.com">pk.international.jp@gmail.com</a></li>
                        
                    </ul>

                    <i class="fa fa-location-arrow back_icon"></i>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="clearfix"></div>
<section class="copyright-wrap padding-bottom-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="logo-footer margin-bottom-20 md-margin-bottom-20 sm-margin-bottom-10 xs-margin-bottom-20"><a href="#">
                    <h1>株式会社 
                    </h1>
                    <span>PK INTERNATIONAL</span></a>
                </div>
                <p>Copyright &copy; 2023 . All rights reserved.</p>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                <ul class="social margin-bottom-25 md-margin-bottom-25 sm-margin-bottom-20 xs-margin-bottom-20 xs-padding-top-10 clearfix">
                    <li><a class="sc-1" href="#"></a></li>
                    <li><a class="sc-2" href="#"></a></li>
                    <li><a class="sc-3" href="#"></a></li>
                    <!-- <li><a class="sc-4" href="#"></a></li> -->
                    <li><a class="sc-5" href="#"></a></li>
                    <!-- <li><a class="sc-6" href="#"></a></li>
                    <li><a class="sc-7" href="#"></a></li>
                    <li><a class="sc-8" href="#"></a></li>
                    <li><a class="sc-9" href="#"></a></li>
                    <li><a class="sc-10" href="#"></a></li>
                    <li><a class="sc-11" href="#"></a></li>
                    <li><a class="sc-12" href="#"></a></li> -->
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="back_to_top"> <img src="{% static 'images/arrow-up.png' %}" alt="scroll up" /> </div>
<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/retina.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.inview.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
<script src="{% static 'js/jquery.bxslider.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.selectbox-0.2.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/jquery.mousewheel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.js' %}"></script>

