{% load static %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Yellowtail%7COpen%20Sans%3A400%2C300%2C600%2C700%2C800" media="screen" />
<!-- Custom styles for this template -->
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="css/flexslider.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="css/jquery.bxslider.css' %}" type="text/css" media="screen" />
<link href="{% static 'css/jquery.fancybox.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.selectbox.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/mobile.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css' %}" href="css/settings.css" media="screen" />
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'css/ts.css' %}" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN8je171svdLgDxuR1rS8zmge9XoEMz0A"></script>

<script type="text/javascript" src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
            (Load Extensions only on Local File Systems !
            The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="{% static 'js/extensions/revolution.extension.actions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/extensions/revolution.extension.migration.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/extensions/revolution.extension.video.min.js' %}"></script>